body {
    font-family: 'Poppins', sans-serif;
    background-color: #09090b; 
    color: #ffffff; 
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    text-align: center;
}

.container {
    padding: 20px;
    max-width: 600px;
}

h1 {
    font-size: 3em;
    font-weight: 600;
    color: #22d3ee; 
    margin-bottom: 0.1em;
    letter-spacing: 3px;
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
    margin-top: 0;
    margin-bottom: 30px;
    color: #94a3b8;
}

p {
    font-size: 1.1em;
    margin-bottom: 40px;
}

.social a {
    color: #ffffff;
    text-decoration: none;
    border: 1px solid #22d3ee;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

.social a:hover {
    background-color: #22d3ee;
    color: #09090b;
}